<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/dev/TestNG">
        <classes>
            <class name="day1.ex1">
                <methods>
                    <include name="testCase1"/>
                    <include name="testCase2"/>
                </methods>
            </class>
            <class name="day1.ex3">
                <methods>
                    <include name="displayColor"/>
                </methods>
            </class>
            <class name="test.BuySuccess">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>